<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>    

<body>
    <div class="main-content">
    {{>header}}
<img class="portarit" src="/img/2023-04-28.png"></img>
<p>Craeted by {{name}}</p>
</div>
{{>footer}}
</body>

</html>